<!DOCTYPE html>
{% extends "appeal/base.html" %}
{% block body %}

  <body>
    <table class="ui table">
      <thead>
        <tr>
          <th>#</th>
          <th>標題</th>
          <th>作者</th>
          <th>發文時間</th>
        </tr>
      </thead>
      
      <tbody>
         {% for appeal in appeals %}
          <tr>
            <th scope="row">{{ appeal.pk }}</th>
            <td><a href="{{ appeal.get_absolute_url }}">
            {{ appeal.title }}
			</a>
            </td>
            <td>{{ appeal.postUser_id }}</td>
            <td>{{ appeal.pub_date }}</td>
          </tr>
		{% endfor %}
      </tbody>
      
    </table>
  </div>
  
    
</table>

  </body>

{% endblock %}