{% extends "appeal/base.html" %}
{% load mytags %}
{% block body %}
<div class="ui grid">
  <div class="three wide column">
    <div class="ui vertical fluid tabular menu">
      <a class="active item" data-tab="total">
        <i class="users icon"></i>
        Total
      </a>
      <a class="item" data-tab="N">
        <i class="user icon"></i>
        Non-Process
      </a>
      <a class="item" data-tab="P">
        <i class="user icon"></i>
        Processing
      </a>
      <a class="item" data-tab="D">
        <i class="user icon"></i>
        Done
      </a>
    </div>
  </div>
  <div class="thirteen wide stretched column">
    <div class="ui tab segment active" data-tab="total">
      <table class="ui table">
        <thead>
          <tr>
            <th>標題</th>
            <th>作者</th>
            <th>發文時間</th>
          </tr>
        </thead>
        <tbody> 
{% for appeal in content.appeals %}
          <tr>
            <td>
              {{ appeal|genIcon }}
              {{ appeal|genPrivateTag }} 
              <a href="{{ appeal.get_absolute_url }}">
              {{ appeal.title }}</a>
            </td>
  {% if appeal.username %}
            <td>
              {{ appeal.username.nick }}
            </td>          
  {% else %}
            <td>{{ appeal.name }}</td>
{% endif %}
            <td>{{ appeal.pub_date }}</td> 
          </tr>
{% endfor %}
        </tbody>
      </table>
    </div>
{% for status in 'NPD'|make_list %}
    <div class="ui tab segment" data-tab="{{status}}">
      <table class="ui table">
        <thead>
          <tr>
            <th>標題</th>
            <th>作者</th>
            <th>發文時間</th>
          </tr>
        </thead>
        <tbody>
  {% for appeal in content.appeals|inStatus:status %}
          <tr>
            <td>
              {{ appeal|genIcon }}
              <a href="{{ appeal.get_absolute_url }}">
                {{ appeal.title }}
              </a>
            </td>
            <td>
              {{ appeal.name }}
            </td>
            <td>
              {{ appeal.pub_date }}
            </td>
          </tr>
  {% endfor %}
          </tbody>
        </table>
      </div>        
{% endfor %}
  </div>
</div>
{% endblock body %}
{% block js-end %}
{{ block.super }}
<script>
    jQuery(function(){
        jQuery('.menu .item').tab({history:false});  
    });
</script> 
{% endblock js-end %}
