{% extends "appeal/base.html" %}
{% load mytags %}
{% block body %}
<div class="ui centered grid">
  <div class="fourteen wide column">
{% if appeal.process_status == 'N' %}
  
{% endif %}
    <div class="ui {{appeal|genColor}} segment">
      <div class="ui vertical segment">
        <p>
          <b>標題：</b>
          {{ appeal.title }}   
        </p>
        <p>
          <b>作者：</b> 
{% if appeal.username %}
          {{ appeal.username.name }}
          ({{ appeal.username.nick }})
          {{ appeal.username.department_str }}
            {{ appeal.username.grade_str }}
{% else %}
          {{ appeal.name }}
          ( {{ appeal.department_str }} , 
            {{ appeal.grade_str }} )
{% endif %}    
        </p>
        <p>
          <b>日期：</b>
          {{ appeal.pub_date }}
        </p>
      </div>
      <div class="ui vertical segment">
        {{ appeal.context }}
      </div>
    </div>
{% if request.user.is_admin %}
    <h4 class="ui horizontal header divider">
       學權編輯區
    </h4>
    <div class="ui segment">
      <form class="ui form" method="post">
      {% csrf_token %}
        <div class="field">
          {{ pForm.process_status|addClass:'ui dropdown' }}
        </div>
        </table>
        <button class="fluid ui purple button" type="submit">更變狀態</button>
      </form>
    </div> 
{% endif %}
    <h4 class="ui horizontal header divider">
      回覆
    </h4>
{% if not appeal.reply.all %}
    <div class="ui warning message">
      <div class="header">
        本申訴目前尚無回復喔!
      </div>
      登入成為第一個回覆的吧
    </div>
{% endif %}
{% for reply in appeal.reply.all %}
    <div class="ui segment">
      <p>
        <b>作者：
          {{ reply.username.name }}
          ({{ reply.username.nick }})
        </b>
      </p>
      <p> {{ reply.context|linebreaks }} </p>
      <p style="text-align: right;"> # {{ reply.pub_date }} </p> 
    </div>
{% endfor %}
{% if request.user.is_authenticated %}
    <h4 class="ui horizontal header divider">
      我要發言
    </h4>
    <form class="ui form" action="{% url 'appeal:replySubmit' appeal.pk %}" method="post" role="form">
      {% csrf_token %}
      <div class="field">
        {{ rForm.context }}
      </div>
      <button class="fluid ui orange button" type="submit">回覆 ^.&#60;</button>
    </form>
{% endif %}

  </div>
</div>
    
{% endblock %}

{% block js-end %}
{{ block.super }}
<script>
  $('select.dropdown').dropdown();    
</script>
{% endblock js-end %}
