{# 4/13 edit by lego #}
{# rewrite code more beautiful #}
{# 4/1 edit by k #}
{# This the page of submit, Please use it to write submit.html #}

{% extends "appeal/base.html" %}
{% block title %} Appeal | {{ block.super }} {% endblock %}

{% block body %}

<div class="ui two column centered grid">
	<div class="column">	
		<form class="ui form" action="{% url 'appeal:newSubmit' %}" method="post" role="form">
			{% csrf_token %}
			<label><h3>標題</h3></label>
			{{ form.title }}
			<div class="ui divider"></div>
			<label><h4>內容<h4></label>
			{{form.context}}
			{{form.is_public}}
			<input type="submit">
		</form>
    </div>
</div>

{% endblock %}
