{# 4/13 edit by lego #}
{# rewrite code more beautiful #}
{# 4/1 edit by k #}
{# This the page of submit, Please use it to write submit.html #}
{% extends "appeal/base.html" %}
{% load mytags %}
{% block title %} Appeal | {{ block.super }} {% endblock %}

{% block body %}

<div class="ui centered grid">
	<div class="fourteen wide column">
		<div class="ui segment">
			{{ form.errors }}
			<form class="ui form" method="post" role="form">
				{% csrf_token %}
{% if not request.user.is_authenticated %}
				<div class="two fields">
			    <div class="field">
			      <h3>{{ form.name.label }}</h3>
			      {{ form.name }}
			    </div>
			    <div class="field">
			      <h3>{{ form.sid.label }}</h3>
			      {{ form.sid }}
			    </div>
			    <div class="field">
			      <h3>{{ form.department.label }}</h3>
			      {{ form.department|addClass:'ui dropdown' }}
			    </div>
			    <div class="field">
			      <h3>{{ form.grade.label }}</h3>
			      {{ form.grade|addClass:'ui dropdown' }}
			    </div>
			  </div>
{% endif %}
			  <div class="field">
					<h3>{{ form.title.label }}</h3>
					{{ form.title }}
				</div>
				<div class="field">
					<h3>{{ form.context.label }}</h3>
					{{ form.context }}
				</div>
{% if not request.user.is_authenticated %}
				<div class="disabled field">
{% else %}
				<div class="field">
{% endif %}
					<div class="ui checkbox">
						{{ form.is_public }}
						<label style="font-size:20px;">{{ form.is_public.label }}</label>
					</div>
				</div>
				<button class="fluid ui blue button" type="submit">申訴 ^.&#60;</button>
			</form>
		</div>
  </div>
</div>
{% endblock %}
{% block js-end %}
{{ block.super }}
<script>
	$('select.dropdown').dropdown();		
</script>
{% endblock js-end %}
