{# 5/3 edit by lego#}
{# new file #}

{% extends "appeal/base.html" %}

{% block body %}
<h2>{{ appeal.title }}</h2>
<div class="ui clearing divider"></div>
<h4>{{ appeal.context }}</h4>
<div class="ui clearing divider"></div>
<p> 由 {{ appeal.department }} {{ appeal.grade }} : {{ appeal.postUser_id }}
在{{ appeal.pub_date }}所編寫</p>

<!--
<h2>process_status :</h2>
<div>{{ appeal.process_status }}</div>
<h2>is_public :</h2>
<div>{{ appeal.is_public }}</div>
<h2>is_delete :</h2>
<div>{{ appeal.is_delete }}</div>
-->

<div class="column"><h3><i class="large comments icon"></i>Comments</h3></div>
{% for reply in appeal.apeal_reply.all %}
<div class="ui divided list">
  <div class="item">
    <i class="reply icon"></i>
    <div class="content">
      <a class="header">{{ reply.postUser_name }} 在{{reply.pub_date}}說</a>
      <div class="description">: {{ reply.context }} 
	  </div></div></div></div>
{% endfor %}
<form class="ui form" action="{% url 'appeal:replySubmit' appeal.pk %}" method="post" role="form">
  {% csrf_token %}
  {{ reply_form }}
  <input type="submit">
</form>
{% endblock %}