{# 4/1 edit by k #}
{# This the page of submit, Please use it to write submit.html #}
{# 4/13 edit by lego #}
{# rewrite code more beautiful #}
{% extends "mainapp/base.html" %}
{% block context %}
<div class="ui two column centered grid">
	<div class="column">	
		<form class="ui form" action="{% url 'main:submitAppeal' %}">
			<div class="field">
				<label>title</label>
				<input name="title" placeholder="title" type="text" />
					<label>context</label>
					<textarea rows="4" cols="50"></textarea>
					<div class="ui toggle checkbox">
						<input name="public" type="radio" />
						<label>Allow <b>anyone</b> to see my post</label>
					</div>
			</div>
			<input type="submit" />
		</form>
    </div>
</div>
{% endblock %}
