<!--
	4/1 edit by k
		This the page of submit, Please use it to write submit.html 
-->

<!DOCTYPE html>
<html>
  <head>
   <title>submit</title>
   <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.2.0/semantic.min.css">
  </head>

  <body>
   <form class="ui form" action="/haha">
    <div class="ui two column centered grid">
    <div class="column">
    <h3>title</h3>
 
    <div class="field">
    <input name="title" placeholder="title" type="text">
    </div> 

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.2.0/semantic.min.js"></script> 

    <div class="field">
    </h3>contest</h3>
    <textarea  rows="4" cols="50" maxlength="50" required='true'>
    </textarea>
    </div>


    <div class="field">
    <div class="ui toggle checkbox">
    <input name="public" type="radio">
    <label>Allow anyone to see my post</label>
    </div>
    </div>

    <input type="submit">
   </form>
  </body>
</html>