<!DOCTYPE html>
{% load staticfiles %}
<html>
 	<head>
 		<title>{% block title %} StudentRightAppeal {% endblock %}</title>
		{% block style %}
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.3/semantic.min.css">
		{% endblock %}
		{% block js-head %}
		{% endblock %}
 	</head>
 	<body>
    {% include "base/menu.html" %} 
 		{% block body %}
 		<h1>Base body</h1>
    <p>If you see this, please overwrite it</p>
 		{% endblock %}
		{% block js-end %}
		<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.3/semantic.min.js"></script>	
		{% endblock %}
 	</body>
</html>
