<!DOCTYPE html>
{% load staticfiles %}
<html>
 	<head>
 		<title>{% block title %} StudentRightAppeal {% endblock %}</title>
		{% block style %}
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.2.0/semantic.min.css">
		{% endblock %}
		{% block js-head %}
		{% endblock %}
    {% block mystyle %}
    {% endblock %}
 	</head>
 	<body>
  
  <div class="ui inverted menu">
  <a class="active item" href="{% url 'home' %}">
    <i class="home icon"></i> 首頁
  </a>
  <a class="item" href="{% url 'appeal:new' %}">
    <i class="mail icon"></i> 發文
  </a>
    <a class="item" href="{% url 'appeal:list' %}">
    <i class="user icon"></i> 文章列表
  </a>
  <a class="item">
    <i class="settings icon"></i>登出
  </a>
</div>


 		{% block body %}
 		<h1>Hello</h1>
 		{% endblock %}
		{% block js-end %}
		<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.2.0/semantic.min.js"></script>	
		{% endblock %}
 	</body>
</html>
