<!DOCTYPE html>
{% load staticfiles %}
<html>
 	<head>
 		<title>{% block title %} StudentRightAppeal {% endblock %}</title>
		{% block style %}
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.2.0/semantic.min.css">
		{% endblock %}
		{% block js-head %}
		{% endblock %}
 	</head>
 	<body>
  
  <div class="ui inverted menu">
  <a class="active item" href="http://www.google.com/">
    <i class="home icon"></i> Home
  </a>
  <a class="item">
    <i class="mail icon"></i> POST
  </a>
  <a class="item">
    <i class="trophy icon"></i> Detail
  </a>
    <a class="item">
    <i class="user icon"></i> View
  </a>
    <a class="item">
    <i class="chat icon"></i> Reply
  </a> 
  <a class="item">
    <i class="settings icon"></i>Log out
  </a>
</div>


 		{% block body %}
 		<h1>Hello</h1>
 		{% endblock %}
		{% block js-end %}
		<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.2.0/semantic.min.js"></script>	
		{% endblock %}
 	</body>
</html>
